<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.SI0801.SI0801Mapper">

<select id="SI0801G0R0" resultType="Map" parameterType="Map">
	SELECT 
		FCLT_KIND
		,PARAM_DIV
		,PARAM_KIND
		,FCLT_KIND AS OLD_FCLT_KIND
		,PARAM_DIV AS OLD_PARAM_DIV
		,PARAM_KIND AS OLD_PARAM_KIND
		,DATA_TYPE
		,DATA_LENGTH
		,DATA_VAL
		,ATTR1_VAL
		,ATTR2_VAL
		,SCHEDULE_YN
		,USE_YN
		,AUTO_YN
		,REMARK
		,DATE_FORMAT(UPD_DTM, '%Y-%m-%d') UPD_DTM
		,UPD_ID
	FROM 
		BMS_FCLT_PARAM_CFG_INFO
	<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (FCLT_KIND LIKE CONCAT('%',#{CONTENT},'%') || PARAM_DIV LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'FCLT_KIND'">
				AND FCLT_KIND LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'PARAM_DIV'">
				AND PARAM_DIV LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
	</where>
	ORDER BY
		FCLT_KIND
</select>

<select id="SI0801G1R0" resultType="Map" parameterType="Map">
	SELECT 
		SN
		,FCLT_KIND
		,PARAM_DIV
		,PARAM_KIND
		,ST_TIME
		,ED_TIME
		,DATA_VAL
		,REMARK
		,DATE_FORMAT(UPD_DTM, '%Y-%m-%d') UPD_DTM
		,UPD_ID
	FROM 
		BMS_FCLT_SCH_INFO
	WHERE
		FCLT_KIND = #{FCLT_KIND} 
		AND PARAM_DIV = #{PARAM_DIV} 
		AND PARAM_KIND = #{PARAM_KIND}
	ORDER BY
		SN
</select>
	
<select id="SI0801SHI0" resultType="Map">
	SELECT			FCLT_KIND
					,PARAM_DIV	
	FROM			BMS_FCLT_PARAM_CFG_INFO
</select>

<insert id="SI0801G0I0" parameterType="Map">	
	INSERT INTO BMS_FCLT_PARAM_CFG_INFO(
			FCLT_KIND
			,PARAM_DIV
			,PARAM_KIND
			,DATA_TYPE
			,DATA_LENGTH
			,DATA_VAL
			,ATTR1_VAL
			,ATTR2_VAL
			,SCHEDULE_YN
			,USE_YN
			,AUTO_YN
			,REMARK
			,UPD_DTM
			,UPD_ID
			) 
	VALUES(
			#{FCLT_KIND}
			,#{PARAM_DIV}
			,#{PARAM_KIND}
			,#{DATA_TYPE}
			,NULLIF(#{DATA_LENGTH}, '')
			,#{DATA_VAL}
			,#{ATTR1_VAL}
			,#{ATTR2_VAL}
			,#{SCHEDULE_YN}
			,#{USE_YN}
			,#{AUTO_YN}
			,#{REMARK}
			,#{UPD_DTM}
			,#{SSN_USER_ID}
			)
</insert>

<delete id="SI0801G0D0" parameterType="Map">
	DELETE FROM 
		BMS_FCLT_PARAM_CFG_INFO 
	WHERE 
		FCLT_KIND = #{FCLT_KIND} AND PARAM_DIV = #{PARAM_DIV} AND PARAM_KIND = #{PARAM_KIND}
</delete>

<update id="SI0801G0U0" parameterType="Map">
	UPDATE 
		BMS_FCLT_PARAM_CFG_INFO 
	SET 
		FCLT_KIND = #{FCLT_KIND}
		,PARAM_DIV = #{PARAM_DIV}
		,PARAM_KIND = #{PARAM_KIND}
		,DATA_TYPE = #{DATA_TYPE}
		,DATA_LENGTH = NULLIF(#{DATA_LENGTH}, '')
		,DATA_VAL = #{DATA_VAL}
		,ATTR1_VAL = #{ATTR1_VAL}
		,ATTR2_VAL = #{ATTR2_VAL}
		,SCHEDULE_YN = #{SCHEDULE_YN}
		,USE_YN = #{USE_YN}
		,AUTO_YN = #{AUTO_YN}
		,REMARK = #{REMARK}
		,UPD_DTM = #{UPD_DTM}
		,UPD_ID = #{SSN_USER_ID}
	WHERE 
		FCLT_KIND = #{OLD_FCLT_KIND} 
		AND PARAM_DIV = #{OLD_PARAM_DIV} 
		AND PARAM_KIND = #{OLD_PARAM_KIND}
</update>

<insert id="SI0801G1I0" parameterType="Map">	
	INSERT INTO BMS_FCLT_SCH_INFO(
			SN
			,FCLT_KIND
			,PARAM_DIV
			,PARAM_KIND
			,ST_TIME
			,ED_TIME
			,DATA_VAL
			,REMARK
			,UPD_DTM
			,UPD_ID
			) 
	VALUES(
			#{SN}
			,#{FCLT_KIND}
			,#{PARAM_DIV}
			,#{PARAM_KIND}
			,#{ST_TIME}
			,#{ED_TIME}
			,#{DATA_VAL}
			,#{REMARK}
			,#{UPD_DTM}
			,#{SSN_USER_ID}
			)
</insert>

<delete id="SI0801G1D0" parameterType="Map">
	DELETE FROM 
		BMS_FCLT_SCH_INFO 
	WHERE 
		FCLT_KIND = #{FCLT_KIND} AND PARAM_DIV = #{PARAM_DIV} AND PARAM_KIND = #{PARAM_KIND} AND SN = #{SN}
</delete>

<update id="SI0801G1U0" parameterType="Map">
	UPDATE 
		BMS_FCLT_SCH_INFO 
	SET 
		FCLT_KIND = #{FCLT_KIND}
		,PARAM_DIV = #{PARAM_DIV}
		,PARAM_KIND = #{PARAM_KIND}
		,ST_TIME = #{ST_TIME}
		,ED_TIME = #{ED_TIME}
		,DATA_VAL = #{DATA_VAL}
		,REMARK = #{REMARK}
		,UPD_DTM = #{UPD_DTM}
		,UPD_ID = #{SSN_USER_ID}
	WHERE 
		FCLT_KIND = #{FCLT_KIND} AND PARAM_DIV = #{PARAM_DIV} AND PARAM_KIND = #{PARAM_KIND} AND SN = #{SN}
</update>

<update id="SI0801G0U1" parameterType="Map">
	UPDATE 
		BMS_FCLT_PARAM_CFG_INFO 
	SET 
		<if test='SCHEDULE_YN == "Y"'>
			SCHEDULE_YN = 'Y'
		</if>
		<if test='SCHEDULE_YN == "N"'>
			SCHEDULE_YN = 'N'
		</if>
	WHERE 
		FCLT_KIND = #{FCLT_KIND} AND PARAM_DIV = #{PARAM_DIV} AND PARAM_KIND = #{PARAM_KIND}
</update>

</mapper>