<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.FM0205.FM0205Mapper">

<!-- 시설물 상태 파라미터 조회 프로시서 -->
<select id="FM0205G0R0" resultType="Map">
	<if test="@kr.tracom.util.CommonUtil@notEmpty(FCLT_KIND)">			 
		CALL PROC_FCLT_STATUS(#{FCLT_KIND});
	</if>
	<if test="@kr.tracom.util.CommonUtil@empty(FCLT_KIND)">			 
		CALL PROC_FCLT_STATUS();
	</if>
</select>

<!-- 시설물 파라미터 헤더 조회-->
<select id="FM0205G0R1" resultType="Map">
	SELECT 
		PARAM_KIND
	FROM 
		BMS_FCLT_PARAM_INFO 
	WHERE 
		FCLT_KIND = #{FCLT_KIND} AND PARAM_DIV = 'PD003'
	GROUP BY
		PARAM_KIND
</select>

<!-- 시설물 제어 조회-->
<select id="FM0205G0R2" resultType="Map">
	SELECT 
		A.PARAM_KIND
		,A.AUTO_YN
	FROM 
		BMS_FCLT_PARAM_INFO A
	WHERE 
		A.FCLT_ID = #{FCLT_ID} 
		AND A.FCLT_KIND != 'FK004' 
		AND A.PARAM_DIV = 'PD002'
	GROUP BY 
		PARAM_KIND
</select>

<!-- 프로세스 조회-->
<select id="FM0205G1R0" resultType="Map">
	SELECT 			DATE_FORMAT(LAST_DTM, '%Y-%m-%d %H:%i:%s') LAST_DTM
					<!-- ,DATE_FORMAT(REG_DTM, '%Y-%m-%d %H:%i:%s') REG_DTM -->
					,IMP_ID
					,PRCS_NM
					,PRCS_IDX
					,CONCAT(VER_HIGH, '.', VER_MID, '.', VER_LOW) AS VER_TOTAL
					,VER_HIGH
					,VER_MID
					,VER_LOW
					<!-- ,CPU_USG
					,MEM_USG -->
					,DATE_FORMAT(ST_DTM, '%Y-%m-%d %H:%i:%s') ST_DTM
					,DATE_FORMAT(BLD_DTM, '%Y-%m-%d %H:%i:%s') BLD_DTM
					,DATE_FORMAT(UPD_DTM, '%Y-%m-%d %H:%i:%s') UPD_DTM
					
	FROM			PLF_IMP_VER_INFO
	
	WHERE			IMP_ID = #{MNG_ID}
	GROUP BY		IMP_ID, PRCS_NM
</select>

<!-- 스냅샷 조회 -->
<select id="FM0205P0R0" resultType="Map">
	SELECT 
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d %H:%i:%s') UPD_DTM
		,DATE_FORMAT(SEND_DTM, '%Y-%m-%d %H:%i:%s') SEND_DTM
		,FCLT_ID
		,MAX(CASE WHEN PARAM_KIND = 'PK045' THEN DATA_VAL END) AS 'PK045'
		,MAX(CASE WHEN PARAM_KIND = 'PK046' THEN DATA_VAL END) AS 'PK046'
	FROM 
		BMS_FCLT_COND_PARAM_INFO_HIS
	WHERE 
		FCLT_ID = #{FCLT_ID}
		AND PARAM_DIV = 'PD003'
	GROUP BY
		UPD_DTM
	ORDER BY
		UPD_DTM DESC
</select>



</mapper>