<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.brt.domain.VH0605.VH0605Mapper">

<select id="VH0605G0R0" parameterType="Map" resultType="Map">
	SELECT				DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d %H:%m:%s') UPD_DTM
					,	A.CRS_ID
					,	A.SIG_CTR_TYPE
					,	DATE_FORMAT(SIG_CTR_OPER_DTM, '%Y-%m-%d %H:%m:%s') SIG_CTR_OPER_DTM
					,	PWR_STS
					,	MCU_STS
					,	DIMMING_STS
					,	RING_MODE
					,	PPC_STS
					,	CTR_MODE
					,	A_PHASE_NO
					,	A_STEP_NO
					,	B_PHASE_NO
					,	B_STEP_NO
					,	PP_MNL_PRCS_YN
					,	PP_MNL_YN
					,	PP_FLASH_YN
					,	PP_LIGHT_YN
					,	CONFLICT_STS
					,	LIGHT_STS
					,	BLINK_STS
					,	DB_STS
					,	PUSHBTN_YN
					,	FLASH_REASON
					,	LTURN_YN
					,	MNL_YN
					,	CONFLICT_YN
					,	DOOR_STS
					,	CONFLICT_LSU_NO
					,	CONFLICT_EVID
					,	CONFLICT_CIRCUIT_NO
					,	PED_LIGHT_STS
					,	PUSHBTN_STS
					,	PED_DEV_STS
					,	OPT_STS
					,	PERIOD_CNTR
					,	PREV_PERIOD_LEN
					,	A.PERIOD_LEN
					,	A.OFFSET
					,	PHASE_HOLD_NO
					,	PHASE_OMIT_NO
					,	LIGHT_TYPE
					,	MAP_NO
					,	SPILL_BACK_STS
					,	MODULE_STS
					,	A_PSIG_CTR_STS
					,	A_PSIG_CTR_MODE
					,	A_PSIG_PERIOD
					,	A_VAL
					,	B_VAL
					,	B.CRS_NM				
				
	FROM				BMS_CRS_SIGOPER_DTL_HIS A	
	
	LEFT JOIN			BMS_CRS_MST B
		ON				A.CRS_ID = B.CRS_ID						

	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT2)">
				AND B.CRS_NM LIKE CONCAT('%', #{CONTENT2}, '%')
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(TYPE1)">
				AND A.PWR_STS = #{TYPE1}
		</if>			
		<if test="@kr.tracom.util.CommonUtil@notEmpty(TYPE2)">
				AND A.MCU_STS = #{TYPE2}
		</if>			
		<if test="@kr.tracom.util.CommonUtil@notEmpty(TYPE3)">
				AND A.DIMMING_STS = #{TYPE3}
		</if>			
		<if test="@kr.tracom.util.CommonUtil@notEmpty(F_DATE) and @kr.tracom.util.CommonUtil@empty(L_DATE)">
			<![CDATA[AND DATE_FORMAT(A.UPD_DTM, '%Y%m%d') >= #{F_DATE}]]>
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(L_DATE) and @kr.tracom.util.CommonUtil@empty(F_DATE)">
			<![CDATA[AND DATE_FORMAT(A.UPD_DTM, '%Y%m%d') <= #{L_DATE}]]>
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(F_DATE) and @kr.tracom.util.CommonUtil@notEmpty(L_DATE)">
				AND DATE_FORMAT(A.UPD_DTM, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>			
	</where>
	
	ORDER BY			A.UPD_DTM DESC
</select>

</mapper>