<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.brt.domain.ST0206.ST0206Mapper">
  
  <select id="ST0206G0R0" resultType="Map">
		SELECT  
				A.NODE_ID AS NODE_ID
				,A.NODE_NM AS NODE_NM
				,B.REP_ROUT_ID AS REP_ROUT_ID
				,B.LINK_SN AS LINK_SN
				,B.WAY_DIV AS WAY_DIV
				,C.REP_ROUT_NM AS REP_ROUT_NM
		FROM 
				BMS_NODE_MST A
				LEFT OUTER JOIN BRT_ROUT_STTN_STOP_STAT B
				ON A.NODE_ID = B.NODE_ID
				LEFT OUTER JOIN BMS_ROUT_MST C
				ON B.REP_ROUT_ID = C.REP_ROUT_ID
		WHERE 
				A.USE_YN = 'Y'
				AND A.NODE_TYPE = 'NT002'
				<if test= "REP_ROUT_ID != null and REP_ROUT_ID != ''">
					AND B.REP_ROUT_ID = #{REP_ROUT_ID}
				</if>
				<if test= "WAY_DIV != null and WAY_DIV != ''">
					AND B.WAY_DIV = #{WAY_DIV}
				</if>
		GROUP BY 
				NODE_ID
		ORDER BY 
				LINK_SN ASC
		
	</select>
  
  <!-- 집계 테이블 INSERT 프로시저 -->
  <select id="ST0206PROC" resultType="Map">
  	CALL PROC_MAKE_ROUT_AVER_OPER_SP_STAT(#{OPER_DT});
  </select> 
  
  <!-- 피봇 테이블 데이터 -->
  <select id="ST0206G1R0" resultType="Map">
  		SELECT
  		<if test="SELECT_DIV == 'TIME'">
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.MAX_STOP_TIME
			,A.MIN_STOP_TIME
			,A.NODE_ID
			,B.NODE_NM
		</if>
		<if test="SELECT_DIV == 'DAY'">
			DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.NODE_ID
			,A.REP_ROUT_ID
			,B.NODE_NM
		</if>
		<if test="SELECT_DIV == 'MONTH'">
			MONTH(A.OPER_DT) AS OPER_DT
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.REP_ROUT_ID
			,A.NODE_ID
			,B.NODE_NM
		</if>
		FROM
			BRT_ROUT_STTN_STOP_STAT A
			LEFT JOIN BMS_NODE_MST B
			ON A.NODE_ID = B.NODE_ID
		WHERE
			A.NODE_ID IN
		<foreach collection="NODE_ID" item="item" index="index"  open="(" close=")" separator=",">
			#{item}
		</foreach>
			<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
				AND DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
			</if>
			
			<if test="DAY_DIV != null and DAY_DIV != ''">
				AND DAY_DIV = #{DAY_DIV}
			</if>
		<if test="SELECT_DIV == 'TIME'">
		GROUP BY
			NODE_ID, A.STAT_H
		ORDER BY
			NODE_ID, A.STAT_H DESC
		</if>
		<if test="SELECT_DIV == 'DAY'">
		GROUP BY
			OPER_DT, A.NODE_ID
		ORDER BY
			A.NODE_ID, OPER_DT DESC
		</if>
		<if test="SELECT_DIV == 'MONTH'">
		GROUP BY 
			A.NODE_ID
		ORDER BY
			A.NODE_ID, A.OPER_DT DESC
		</if>
  </select>
  
  <!-- 그래프 데이터 -->
   <select id="ST0206G1R1" resultType="Map">
 		SELECT
  		<if test="SELECT_DIV == 'TIME'">
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.MAX_STOP_TIME
			,A.MIN_STOP_TIME
			,A.NODE_ID
			,B.NODE_NM
		</if>
		<if test="SELECT_DIV == 'DAY'">
			DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.NODE_ID
			,A.REP_ROUT_ID
			,B.NODE_NM
		</if>
		<if test="SELECT_DIV == 'MONTH'">
			MONTH(A.OPER_DT) AS OPER_DT
			,AVG(A.AVRG_STOP_TIME) AS AVRG_STOP_TIME
			,A.REP_ROUT_ID
			,A.NODE_ID
			,B.NODE_NM
		</if>
		FROM
			BRT_ROUT_STTN_STOP_STAT A
			LEFT JOIN BMS_NODE_MST B
			ON A.NODE_ID = B.NODE_ID
		WHERE
			A.NODE_ID IN
		<foreach collection="NODE_ID" item="item" index="index"  open="(" close=")" separator=",">
			#{item}
		</foreach>
			<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
				AND DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
			</if>
			
			<if test="DAY_DIV != null and DAY_DIV != ''">
				AND DAY_DIV = #{DAY_DIV}
			</if>
		<if test="SELECT_DIV == 'TIME'">
		GROUP BY
			NODE_ID, A.STAT_H
		ORDER BY
			NODE_ID, A.STAT_H ASC
		</if>
		<if test="SELECT_DIV == 'DAY'">
		GROUP BY
			OPER_DT, A.NODE_ID
		ORDER BY
			A.NODE_ID, OPER_DT ASC
		</if>
		<if test="SELECT_DIV == 'MONTH'">
		GROUP BY 
			A.NODE_ID
		ORDER BY
			A.NODE_ID, A.OPER_DT ASC
		</if>
  </select>

</mapper>