<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.brt.domain.ST0201.ST0201Mapper">
  
  <select id="ST0201G0R0" resultType="Map">
		SELECT A.REP_ROUT_ID AS REP_ROUT_ID,
			A.WAY_DIV AS WAY_DIV,
			A.LINK_ID AS LINK_ID,
			A.LINK_SN AS LINK_SN,
			C.NODE_NM AS ST_NODE_NM,
			D.NODE_NM AS ED_NODE_NM
		     
		FROM BMS_REP_ROUT_STTN_LINK_CMPSTN A
			LEFT OUTER JOIN 
			BMS_STTN_LINK B
			ON A.LINK_ID = B.LINK_ID
			LEFT OUTER JOIN
			BMS_NODE_MST C
			ON B.ST_NODE_ID = C.NODE_ID
			LEFT OUTER JOIN
			BMS_NODE_MST D
			ON B.ED_NODE_ID = D.NODE_ID
			
		WHERE
			<if test= "WAY_DIV != null and WAY_DIV != ''">
				WAY_DIV = #{WAY_DIV}
			</if>
			<if test= "REP_ROUT_ID != null and REP_ROUT_ID != ''">
				AND REP_ROUT_ID = #{REP_ROUT_ID}
			</if>

		ORDER BY LINK_SN;
		
	</select>
  
  <!-- 집계 테이블 INSERT 프로시저 -->
  <!-- <select id="ST0201PROC" resultType="Map">
  	CALL PROC_MAKE_ROUT_AVER_OPER_SP_STAT(#{OPER_DT});
  </select>  -->
  
  <!-- 피봇 테이블 데이터 -->
  <select id="ST0201G1R0" resultType="Map">
  		SELECT
  		<if test="SELECT_DIV == 'TIME'">
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,A.LINK_SN AS LINK_SN
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_MAX_SPD AS LINK_MAX_SPD
			,A.LINK_MIN_SPD AS LINK_MIN_SPD
			,B.LINK_NM AS LINK_NM
		</if>
		<if test="SELECT_DIV == 'DAY'">
			DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_SN AS LINK_SN
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,B.LINK_NM AS LINK_NM
		</if>
		<if test="SELECT_DIV == 'MONTH'">
			MONTH(A.OPER_DT) AS OPER_DT
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_SN AS LINK_SN
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,B.LINK_NM AS LINK_NM
		</if>
		FROM
			BRT_ROUT_STTN_LINK_STAT A
			LEFT JOIN BMS_STTN_LINK B
			ON A.LINK_ID = B.LINK_ID
		WHERE
		
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
			
		<if test="REP_ROUT_ID != null and REP_ROUT_ID != ''">
			AND REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		
		<if test="ST_LINK_SN != null and ST_LINK_SN != ''">
			AND LINK_SN >= #{ST_LINK_SN} 
		</if>
		
		<if test="ED_LINK_SN != null and ED_LINK_SN != ''">
		<![CDATA[
			AND LINK_SN <= #{ED_LINK_SN} 
		]]>
		</if>
		
		<if test="WAY_DIV != null and WAY_DIV != ''">
			AND WAY_DIV = #{WAY_DIV}
		</if>
		
		<if test="DAY_DIV != null and DAY_DIV != ''">
			AND DAY_DIV = #{DAY_DIV}
		</if>
		
		<if test="SELECT_DIV == 'TIME'">
		GROUP BY
			LINK_SN, STAT_H
		ORDER BY
			LINK_SN, STAT_H DESC
		</if>
		
		<if test="SELECT_DIV == 'DAY'">
		GROUP BY
			OPER_DT, LINK_SN
		ORDER BY
			LINK_SN, OPER_DT DESC
		</if>
		
		<if test="SELECT_DIV == 'MONTH'">
		GROUP BY 
			LINK_SN
		ORDER BY
			LINK_SN, OPER_DT DESC
		</if>
		
  </select>
  
  <!-- 그래프 데이터 -->
   <select id="ST0201G1R1" resultType="Map">
 		SELECT
  		<if test="SELECT_DIV == 'TIME'">
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,A.LINK_SN AS LINK_SN
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_MAX_SPD AS LINK_MAX_SPD
			,A.LINK_MIN_SPD AS LINK_MIN_SPD
			,B.LINK_NM AS LINK_NM
		</if>
		<if test="SELECT_DIV == 'DAY'">
			DATE_FORMAT(DATE(A.OPER_DT), '%m-%d') OPER_DT
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_SN AS LINK_SN
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,B.LINK_NM AS LINK_NM
		</if>
		<if test="SELECT_DIV == 'MONTH'">
			MONTH(A.OPER_DT) AS OPER_DT
			,AVG(A.LINK_AVRG_SPD) AS LINK_AVRG_SPD
			,A.LINK_SN AS LINK_SN
			,A.REP_ROUT_ID AS REP_ROUT_ID
			,B.LINK_NM AS LINK_NM
		</if>
		FROM
			BRT_ROUT_STTN_LINK_STAT A
			LEFT JOIN BMS_STTN_LINK B
			ON A.LINK_ID = B.LINK_ID
		WHERE
		
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
			
		<if test="REP_ROUT_ID != null and REP_ROUT_ID != ''">
			AND REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		
		<if test="ST_LINK_SN != null and ST_LINK_SN != ''">
			AND LINK_SN >= #{ST_LINK_SN} 
		</if>
		
		<if test="ED_LINK_SN != null and ED_LINK_SN != ''">
		<![CDATA[
			AND LINK_SN <= #{ED_LINK_SN} 
		]]>
		</if>
		
		<if test="WAY_DIV != null and WAY_DIV != ''">
			AND WAY_DIV = #{WAY_DIV}
		</if>
		
		<if test="DAY_DIV != null and DAY_DIV != ''">
			AND DAY_DIV = #{DAY_DIV}
		</if>
		
		<if test="SELECT_DIV == 'TIME'">
		GROUP BY
			LINK_SN, STAT_H
		ORDER BY
			LINK_SN, STAT_H ASC
		</if>
		
		<if test="SELECT_DIV == 'DAY'">
		GROUP BY
			OPER_DT, LINK_SN
		ORDER BY
			LINK_SN, OPER_DT ASC
		</if>
		
		<if test="SELECT_DIV == 'MONTH'">
		GROUP BY 
			LINK_SN
		ORDER BY
			LINK_SN, OPER_DT ASC
		</if>
  </select>

</mapper>