<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.brt.domain.ST0503.ST0503Mapper">
  
<!-- 그래프 쿼리0 -->
  <select id="ST0503G0R0" resultType="Map">
  	SELECT
		A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		A.REP_ROUT_ID
	ORDER BY
		A.REP_ROUT_ID
  </select>
  
  <!-- 피봇 그리드 쿼리0 -->
  <select id="ST0503G0R1" resultType="Map">
  	SELECT
 		DATE_FORMAT(A.ERROR_DT, '%Y-%m-%d') ERROR_DT
		,A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			AND DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		ERROR_DT, A.REP_ROUT_ID
		
UNION ALL
	
	SELECT
 		"장애건수" AS ERROR_DT
		,A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			AND DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		"", A.REP_ROUT_ID

  </select>
  
  
  <!-- 그래프 쿼리1 -->
  <select id="ST0503G1R0" resultType="Map">
  	SELECT
 		DATE_FORMAT(A.ERROR_DT, '%Y-%m-%d') ERROR_DT
		,A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(REP_ROUT_ID)">
			A.REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			AND DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		A.ROUT_ID
	ORDER BY
		A.ROUT_ID
  </select>
  
  <!-- 피봇 그리드 쿼리1 -->
  <select id="ST0503G1R1" resultType="Map">
  	SELECT
  		DATE_FORMAT(A.ERROR_DT, '%Y-%m-%d') ERROR_DT
		,A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(REP_ROUT_ID)">
			A.REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			AND DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		ERROR_DT, A.ROUT_ID
	
UNION ALL

	SELECT
 		"장애건수" AS ERROR_DT
		,A.REP_ROUT_ID
		,A.ROUT_ID
		,SUM(A.ERROR_CNT) AS ERROR_CNT
		,SUM(A.JUDG_CNT) AS JUDG_CNT
		,B.ROUT_NM
		,B.REP_ROUT_NM
	FROM
		BRT_DVC_STAT A
		LEFT JOIN BMS_ROUT_MST B
		ON A.ROUT_ID = B.ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(REP_ROUT_ID)">
			A.REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
			AND DATE_FORMAT(A.ERROR_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
		AND B.DEL_YN = 'N'
	</where>
	GROUP BY
		"", A.ROUT_ID
  </select>

</mapper>