<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.tims.domain.BisMapper">
	
	<!--ParamKind코드값 select-->
	<select id="selectDlCdParamKindInfo" resultType="Map">
		SELECT
			DL_CD
		FROM
			BMS_DL_CD_INFO
		WHERE
			CO_CD = "PARAM_KIND"
			AND NUM_VAL4 = #{paramKind}
	</select>
	
	<!--ParamDiv코드값 select-->
	<select id="selectDlCdParamDivInfo" resultType="Map">
		SELECT
			DL_CD
		FROM
			BMS_DL_CD_INFO
		WHERE
			CO_CD = "PARAM_DIV"
			AND NUM_VAL4 = #{paramDiv}
	</select>
	
	<!--스크린도어 현정보 insert-->
	<update id="insertFacilityStatus" parameterType="Map">
		UPDATE
			BMS_FCLT_COND_PARAM_INFO
		SET
			DATA_VAL = #{dataValue}
			,SEND_DTM = #{ocrDtm}
		WHERE
			MNG_ID = #{fcltMngID}
			AND PARAM_DIV = #{paramDiv}
			AND PARAM_KIND = #{paramKind}
	</update>
	
</mapper>